# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [1]:
import sqlite3
import pandas as pd

#Create a connection
con = sqlite3.connect('lego.db')
#Create a cursor
cur = con.cursor()
#Select some data
cur.execute("""SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(4, 1)

              name
0  product_details
1     product_info
2  product_pricing
3  product_reviews

In [10]:
cur.execute("""SELECT * FROM product_details
               LIMIT 5""")
details_df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
details_df.head()

ValueError: Length mismatch: Expected axis has 6 elements, new values have 4 elements

In [7]:
cur.execute("""SELECT * FROM product_info
               LIMIT 5""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

   prod_id  ages  piece_count                         set_name
0      630    4+            1                  Brick Separator
1     2304  1Â½-5            1     LEGOÂ® DUPLOÂ® Green Baseplate
2     7280  5-12            2      Straight & Crossroad Plates
3     7281  5-12            2  T-Junction & Curved Road Plates
4     7499  5-12           24     Flexible and Straight Tracks

In [8]:
cur.execute("""SELECT * FROM product_pricing
               LIMIT 5""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

   prod_id country list_price
0    75823      US      29.99
1    75822      US      19.99
2    75821      US      12.99
3    21030      US      99.99
4    21035      US      79.99

In [9]:
cur.execute("""SELECT * FROM product_reviews
               LIMIT 5""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

,prod_id,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,630,180,4.0,Very Easy,4.8,4.6
1,2304,15,4.4,Easy,4.0,3.3
2,7280,85,4.1,Very Easy,3.5,2.3
3,7281,40,4.1,Very Easy,3.9,2.8
4,7499,89,2.9,Easy,2.5,2.2

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!